<h2 style="text-align:center;margin-bottom:20px;">Emotions in Affect Control Theory</h2>

<div class="col-lg-6">
<p>
Affect Control Theory aims to understand, encode and predict human behavior in social situations. 
It assumes that individuals have and maintain certain identities. These identities are socially 
constructed and people belonging to a certain culture share the meaning of these identities. 
People go into a social setting with presumed identities. Throughout the interaction each 
individual aims to confirm their identity. This goal is mutually respected because if one of the 
interactant's identity is unconfirmed, threatened or compromised it leads to an emotional episode. 
Emotions register the outcome of a social interaction in terms of identity confirmation or 
disconfirmation. 
</p>
<p>
Each identity consists of a set of fundamental sentiments defined in terms of 
Evaluation, Potency, and Activity (EPA). These fundamental sentiments associated with each 
identity, symbols in language used in social interactions, settings and qualitative attributes 
(adjectives) are known as their affective meaning. When two identities interact with each other, 
the affective symbols used in interaction produce a transient impression (feeling) in each 
interactant. These transient impressions may or may not align with the fundamental impressions. 
The difference between transient and fundamental impression related to an identity is known as 
<i>Deflection</i>. <i>Emotion</i> in ACT is the function of this transient impression and resultant
 deflection. If the transient impression happens to be closer to the fundamental sentiment, 
meaning interactants executed a somewhat perfect social behavior, then deflection is negligible 
and both interactants experience <i>Characteristic Emotions</i>. These emotions can also be 
thought of as fundamental emotions associated with a certain identity and are only experienced 
when the concerned identity is confirmed in a social event. They provide as the bases for the 
motivation of socially accepted behavior based on identity confirmation. 
</p>
<p>
<i>Structural Emotions</i> pertain to socially constructed relationships and are experienced when 
identity-confirmation is not fully achieved in a social situation possibly because of opposite 
goals of the interactants to experience ones own characteristic emotions which contradict that of 
the other.
</p>
<p>
<i>Consequent Emotions</i> in ACT are the feelings which are experienced as a result of actual 
behavior of the participant in any event. Although, in essence, all emotions are consequent 
emotions, Characteristic and Structural Emotions provide analytical distinction for 
identity-situated self and social relationships in normative situations. Whereas consequent 
emotions particularly cater for deviant and out-of-character behavior and hence is mostly 
identity disconfirming.
</p>

</div>
<div class="col-lg-6">
<p>
Since emotions in ACT are strictly dependent on Identity, this implies that individuals with 
different identities feel different emotions resulting from objectively same situation.
</p>

<p>
Like most theories of emotions, ACT recognizes behavioral consequences of emotions. But the 
theory differs from conventional wisdom that an emotion begets concomitant emotion-sustaining 
action e.g. anger triggers angry behavior, happiness motivates kind behavior. According to ACT 
when a person experiences an irregular structural/consequent emotion, it <i>informs</i> them that 
the process of identity confirmation is not going well, and in turn their identity 
<i>motivates</i> them to undertake restorative actions in order to experience identity-confirming 
characteristic emotion, rather than showing reaction by emotion-sustaining actions.
</p>

<p>
This kind of restorative action is called <i>Compensatory Behavior</i> as it compensates for the 
out-of-character emotion and is selected to minimize deflection and to move towards 
identity-confirming characteristic emotion. This is the general rule that directs actions of the 
individuals in day-to-day life according to ACT. This rule is only broken when structural 
constraints in a situation or culture in general repeatedly obstruct a person from experiencing 
identity-confirming characteristic emotions through restorative actions. In this case when a 
consequent emotion is endured over a long period of time it turns into a <i>mood</i> and becomes 
integral part of the identity. This in turn leads to <i>Mood-Induced Behavior</i>, which goes 
along with commonsense view of emotions suggesting people always act out their affective mood.
</p>

<p>
Lastly, <i>Emotional Goal-Induced Behavior</i> is the kind of action that an individual 
contemplates or plans to take in future in order to achieve an emotional goal-state. ACT can 
predict actions that will result in emotions specified beforehand. 
</p>

<h3>Important Terms in ACT</h3>
<span class="badge badge-info">Affect</span>
<span class="badge badge-info">Control Principle</span>
<span class="badge badge-info">Identity</span>
<span class="badge badge-info">Identity Confirmation</span>
<span class="badge badge-info">Characteristic Sentiment</span>
<span class="badge badge-info">Transient Sentiment</span>
<span class="badge badge-info">Deflection</span>


<span class="badge badge-info">Characteristic Emotions</span>
<span class="badge badge-info">Structural Emotions</span>
<span class="badge badge-info">Consequent Emotions</span>
<span class="badge badge-info">Identity confirmed -> characteristic emotions of identity</span>
<span class="badge badge-info">
  Identity unconfirmed -> transient impression + deflection: Structural/Consequent Emotions
</span>
<span class="badge badge-info">Transient self and Deflection produce emotion</span>

<span class="badge badge-info">Compensatory Behavior Emotions</span>
<span class="badge badge-info">Mood-induced Behavior</span>
<span class="badge badge-info">Emotional Goal-induced Behavior</span>

<span class="badge badge-info">Emotional Life of a Person</span>
<span class="badge badge-info">private salient high commitment Identity</span>
<span class="badge badge-info">Socially demanded identity</span>

<h3>References</h3>
<ul>
  <li>
    MacKinnon, Neil Joseph. Symbolic interactionism as affect control. SUNY Press, 1994.
    <a href="http://www.amazon.com/Symbolic-Interactionism-Control-Sociology-Emotions/dp/0791420426" target="_blank">Amazon</a>
  </li>
</ul>
</div>
