<h1>Affect Control Theory and Emotions</h1>

<p>
Affect Control Theory aims to understand, encode and predict human behavior in social situations. 
It assumes that individuals assume and maintain certain identities. These identities are socially 
constructed and people belonging to a certain culture share the meaning of these identities. 
People go into a social setting with presumed identities. Throughout the interaction each 
individual aims to confirm their identity. This goal is mutually respected because if one of the 
interactant's identity is uncofirmed, threatened or compromised it leads to an emotional episode. 
Emotions register the outcome of a social interaction in terms of identity confirmation or 
disconfirmation. 
</p>
<p>
Each identity consists of a set of fundamental sentiments defined in terms of 
Evaluation, Potency, and Activity (EPA). These fundametal sentiments associated with each 
identity, symbols in language used in social interactions, settings and qualitative attributes 
(adjectives) are known as their affective meaning. When two identities interact with each other, 
the affective symbols used in interaction produce a transient impression (feeling) in each 
interactant. These transient impressions may or may not align with the fundamental impressions. 
The difference between transient and fundamental impression related to an identity is known as 
<i>Deflection</i>. <i>Emotion</i> in ACT is the function of this transient impression and resultant
 deflection. If the transient impression happense to be closer to the fundamental sentiment, 
meaning interactants executed a somewhat perfect social behavior, then deflection is negligible 
and both interactants experience <i>Characteristic Emotions</i>. These emotions can also be 
thought of as fundamental emotions associated with a certain identity and are only experienced 
when the concerned identity is confirmed in a social event. They provide as the bases for the 
motivation of socially accepted behavior based on identity confirmation. 
</p>
<p>
<i>Structural Emotions</i> are the emotions which are experienced when identity-confirmation is 
not fully achieved in a social situation possibly because of opposite goals of the interactants 
to experience one's own characteristic emotions which contradict the other's.
</p>
<p>
<i>Consequent Emotions</i> in ACT provides a list of emotions which are experienced as a result of
actual behavior of the participant in any event. These emotions particularly caters for deviant 
and out-of-character behavior and hence is mostly identity disconfirming.
</p>

<p>
Since emotions in ACT are strictly dependent on Identity, this implies that individuals with 
different identities feel different emotions resulting from objectively same situation.
</p>

<h3>Important Terms in ACT</h3>
<span class="badge badge-info">Affect</span>
<span class="badge badge-info">Control Principle</span>
<span class="badge badge-info">Identity</span>
<span class="badge badge-info">Identity Confirmation</span>
<span class="badge badge-info">Characteristic Sentiment</span>
<span class="badge badge-info">Transient Sentiment</span>
<span class="badge badge-info">Deflection</span>


<span class="badge badge-info">Characteristic Emotions</span>
<span class="badge badge-info">Structural Emotions</span>
<span class="badge badge-info">Identity confirmed -> characteristic emotions of identity</span>
<span class="badge badge-info">Identity unconfirmed -> transient impression doesn't match fundamental</span>
<span class="badge badge-info">Deflection produces emotion</span>
<span class="badge badge-info">Consequent Emotions</span>

<span class="badge badge-info">Compensatory Behavior Emotions</span>
<span class="badge badge-info">Mood-induced Behavior</span>
<span class="badge badge-info">Emotional Goal-induced Behavior</span>

<span class="badge badge-info">Emotional Life of a Person</span>
<span class="badge badge-info">private salient hight commitment Identity</span>
<span class="badge badge-info">Socially demanded identity</span>
