<h1>OCC Model of Emotions and Affect Control Theory</h1>
<p>
Why using an animated movie by Disney makes sense for this study? This is because emotions are explicitly displayed in every emotion inducing act. Whereas in shows with humans and real/scripted stories all emotions are not displayed explicitly. A common defensive mechanism and survival strategy by individuals is to hide/snub their emotions.  This leads us to recognise the difference between OCC model of emotions and ACT. OCC model of emotions assumes that emotions occur in specific situations/events and aims to incorporate/encode those situations in it’s appraisal rules. Due to its emphasis on situationally induced emotions or, so to speak, event driven model, OCC model in turn gives more value to the recognition of emotion at the level of cognition and it’s subsequent display at physical level and it’s behavioral implications. Whereas Affect Control Theory basis itself on symbolic interactionism and its derivative Identity Theory which assigns an affective meaning to each symbol (words in a language, in a specific cultural context, describing social identities, personality traits, status and interpersonal acts).
</p>

<p>
Although OCC Model of Emotions integrates Agent in it’s model, which implies that individual is affected by social interaction with agent and object, but assumes that emotional state is a discontinuous function, it has up and down jumps rather than a continuous affective state of person which evolves over a period of time during social interactions. Besides this, human beings are really good at concealing emotions, therefore, if it were not a Disney movie, but a real drama with human characters we could not readily apply OCC model to reveal the emotional states of the characters in it.
</p>

<p>
On the other hand, Although, Affect Control Theory claims to give precedence to subjective experience, it is not the subjective experience in true sense. It is rather an inter-subjective or rather purported objective social experience. It assumes that individuals should behave in certain ways in particular situations and ignores the adaptability of human beings in certain situations. Rather it only assumes the adaptability in one direction i.e. conformance to social norms and confirmation of constructed identities. It fails to recognize the fact that these socially constructed identities can actually be the cause of emotional inducing situations. People who are not comfortable or fit into their socially constructed identities may not be interested in confirming them, and when their environment imposes it onto them, that would be the actual cause of emotional episode rather than the fact that they they deviated from certain social norm. Nonetheless, it is clear that these socially constructed identities are important part of the social structure, and the way societies and cultures are formed, these are reinforced through social interactions. So the individuals themselves still feel at odds with themselves and that may be the true cause of their emotional episode/experience while they involve into confirming their socially constructed identities to cope with/control/regulate the effect of the environment onto themselves.
</p>

<h3>References</h3>
<ul>
  <li>
    MacKinnon, Neil Joseph. Symbolic interactionism as affect control. SUNY Press, 1994.
    <a href="http://www.amazon.com/Symbolic-Interactionism-Control-Sociology-Emotions/dp/0791420426">Amazon</a>
  </li>
  <li>
    Ortony, Clore and Collins. The Cognitive Structure of Emotions, Cambridge University Press, 1988. 
    <a href="http://www.amazon.ca/Cognitive-Structure-Emotions-Andrew-Ortony/dp/0521386640">Amazon</a>
  </li>
  <li>
    <a href="https://cs.uwaterloo.ca/~jhoey/SteamboatWillie/OCCSteamboatWillie.html">
      https://cs.uwaterloo.ca/~jhoey/SteamboatWillie/OCCSteamboatWillie.html
    </a>
  </li>
</ul>
