<%= link_to "OCC and Interact Advance Comparison", interact_advanced_path %>
<h1>Interact with Advanced Functins Report</h1>

<p>
IU03 identity dictionary, N= 500.00<br />
Male EPA means, female EPA means: 0.41 0.41 0.46 0.53 0.62 0.65<br />
Male EPA variances, female EPA variances: 2.44 1.55 1.18 2.95 1.90 1.53<br />
IU03 behavior dictionary, N= 500.00<br />
Male EPA means, female EPA means: 0.13 0.70 0.49 0.00 0.89 0.58<br />
Male EPA variances, female EPA variances: 2.37 1.67 1.03 2.84 2.05 1.17<br />
IU03 modifier dictionary, N= 301.00<br />
Male EPA means, female EPA means: -0.16 0.10 -0.03 -0.25 0.17 0.00<br />
Male EPA variances, female EPA variances: 3.06 1.64 1.35 3.72 1.80 1.51<br />
IU03 setting dictionary, N= 200.00<br />
Male EPA means, female EPA means: 0.81 0.88 0.70 0.93 1.14 0.94<br />
Male EPA variances, female EPA variances: 2.73 2.26 2.50 3.34 2.91 3.23</p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],entertain,Micky[joyful,worker]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: 2.29 1.85 1.80. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: 1.71 1.30 1.42. <br />
Behavior Transient inputs: 2.29 1.85 1.80. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: 0.90 0.66 1.15. <br />
Behavior Transient outcomes: 0.76 0.57 1.06. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 5.66, Actor: 1.13, Object: 0.00. <br />
Actor emotions: 0.53 0.13 0.32. 0.45, self-conscious. <br />
Actor behaviors: 1.20 -0.41 1.43. 99.99, No words in range. <br />
Actor labels: 2.60 0.58 1.68. 0.85, playmate. <br />
Actor attributes: 3.24 1.16 1.55. 0.95, generous. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],play with,Micky[joyful,worker]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: 1.96 1.06 1.31. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: 1.71 1.30 1.42. <br />
Behavior Transient inputs: 1.96 1.06 1.31. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: 0.92 0.50 1.07. <br />
Behavior Transient outcomes: 0.74 0.35 0.92. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 3.53, Actor: 1.39, Object: 0.00. <br />
Actor emotions: 0.46 -0.07 0.18. 0.37, self-conscious. <br />
Actor behaviors: 1.23 -0.45 1.49. 99.99, No words in range. <br />
Actor labels: 2.40 0.22 1.24. 0.64, visitor. <br />
Actor attributes: 2.74 0.65 0.87. 0.90, polite. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],approach,Micky[joyful,worker]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: 1.84 1.57 1.30. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -2.54 1.39 1.59. <br />
Behavior Transient inputs: 1.84 1.57 1.30. <br />
Object person Transient inputs: 1.71 1.30 1.42. <br />
Setting Transient inputs: 1.02 1.14 0.83. <br />
Actor Transient outcomes: -0.27 1.12 0.94. <br />
Behavior Transient outcomes: 0.42 1.23 1.33. <br />
Object person Transient outcomes: 0.72 -0.02 0.77. <br />
Setting Transient outcomes: 0.51 0.84 0.88. <br />
Deflection: 11.29, Actor: 5.66, Object: 3.15. <br />
Actor emotions: 4.31 1.34 -0.21. 99.99, No words in range. <br />
Object emotions: -0.08 -0.83 -0.33. 0.28, contrite. <br />
Actor behaviors: -0.99 1.60 1.44. 0.51, scold. <br />
Object behaviors: 0.87 1.90 1.26. 0.49, discipline. <br />
Actor labels: 2.48 0.80 1.13. 0.81, vacationer. <br />
Actor attributes: 3.75 0.31 0.69. 99.99, No words in range. <br />
Object labels: 0.09 -0.37 -0.42. 0.53, novice. <br />
Object attributes: -0.78 -0.64 -1.52. 0.51, introverted. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],grab,Micky[joyful,worker]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: -1.26 0.25 0.67. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.27 1.12 0.94. <br />
Behavior Transient inputs: -1.26 0.25 0.67. <br />
Object person Transient inputs: 0.72 -0.02 0.77. <br />
Setting Transient inputs: 0.51 0.84 0.88. <br />
Actor Transient outcomes: -0.95 0.55 0.88. <br />
Behavior Transient outcomes: -0.98 0.61 0.73. <br />
Object person Transient outcomes: 0.01 -0.77 0.33. <br />
Setting Transient outcomes: -0.26 0.46 0.76. <br />
Deflection: 14.45, Actor: 3.77, Object: 8.35. <br />
Actor emotions: 1.38 0.01 -0.27. 0.33, sentimental. <br />
Object emotions: -1.37 -2.01 -1.05. 0.61, despondent. <br />
Actor behaviors: -0.92 1.38 2.15. 0.61, shout at. <br />
Object behaviors: 0.69 2.34 1.93. 0.88, challenge. <br />
Actor labels: -1.49 -0.39 0.61. 0.51, sexist. <br />
Actor attributes: -2.94 -2.53 0.04. 99.99, No words in range. <br />
Object labels: -0.04 -1.29 -0.49. 0.44, lackey. <br />
Object attributes: -1.42 -1.95 -1.76. 0.31, withdrawn. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],discipline,Micky[joyful,worker]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: 0.66 1.76 0.83. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.95 0.55 0.88. <br />
Behavior Transient inputs: 0.66 1.76 0.83. <br />
Object person Transient inputs: 0.01 -0.77 0.33. <br />
Setting Transient inputs: -0.26 0.46 0.76. <br />
Actor Transient outcomes: -0.19 0.89 0.78. <br />
Behavior Transient outcomes: 0.04 1.30 0.88. <br />
Object person Transient outcomes: 0.11 -0.88 0.24. <br />
Setting Transient outcomes: -0.48 0.49 0.75. <br />
Deflection: 18.44, Actor: 6.44, Object: 8.71. <br />
Actor emotions: 4.22 1.04 -0.49. 99.99, No words in range. <br />
Object emotions: -1.33 -2.14 -1.20. 0.75, glum. <br />
Actor behaviors: -0.94 1.63 1.63. 0.63, scold. <br />
Object behaviors: 1.02 2.45 1.89. 0.81, challenge. <br />
Actor labels: 0.46 0.83 0.80. 0.31, union member. <br />
Actor attributes: 0.70 -0.23 0.35. 0.37, feminine. <br />
Object labels: 0.26 -0.65 -0.41. 0.53, novice. <br />
Object attributes: -0.70 -0.98 -1.56. 0.20, shy. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],order,Micky[joyful,worker]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: -0.34 1.00 0.93. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.19 0.89 0.78. <br />
Behavior Transient inputs: -0.34 1.00 0.93. <br />
Object person Transient inputs: 0.11 -0.88 0.24. <br />
Setting Transient inputs: -0.48 0.49 0.75. <br />
Actor Transient outcomes: -0.54 0.72 0.82. <br />
Behavior Transient outcomes: -0.44 0.95 0.86. <br />
Object person Transient outcomes: 0.02 -1.04 0.19. <br />
Setting Transient outcomes: -0.72 0.45 0.73. <br />
Deflection: 18.44, Actor: 5.04, Object: 9.85. <br />
Actor emotions: 2.89 0.55 -0.39. 0.70, relieved. <br />
Object emotions: -1.52 -2.38 -1.29. 0.94, dissatisfied. <br />
Actor behaviors: -0.90 1.43 1.86. 0.50, tell off. <br />
Object behaviors: 0.87 2.50 2.04. 0.96, challenge. <br />
Actor labels: -0.58 0.09 0.85. 0.24, pornographer. <br />
Actor attributes: -1.27 -1.60 0.39. 0.85, vain. <br />
Object labels: 0.06 -1.17 -0.45. 0.53, lackey. <br />
Object attributes: -1.23 -1.77 -1.68. 0.34, timid. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],look away from,Micky[joyful,worker]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: -0.33 -0.43 -0.38. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.54 0.72 0.82. <br />
Behavior Transient inputs: -0.33 -0.43 -0.38. <br />
Object person Transient inputs: 0.02 -1.04 0.19. <br />
Setting Transient inputs: -0.72 0.45 0.73. <br />
Actor Transient outcomes: -0.51 0.10 0.46. <br />
Behavior Transient outcomes: -0.15 -0.05 -0.07. <br />
Object person Transient outcomes: 0.00 -0.85 0.11. <br />
Setting Transient outcomes: -0.86 0.29 0.74. <br />
Deflection: 20.87, Actor: 7.07, Object: 9.25. <br />
Actor emotions: 2.04 -0.40 -0.99. 0.90, serene. <br />
Object emotions: -1.46 -2.10 -1.39. 0.69, glum. <br />
Actor behaviors: -1.05 1.86 2.99. 99.99, No words in range. <br />
Object behaviors: 1.12 2.31 2.10. 0.74, compete with. <br />
Actor labels: -0.67 -0.21 -0.15. 0.30, toady. <br />
Actor attributes: -1.76 -1.96 -1.12. 0.47, thoughtless. <br />
Object labels: -0.55 -0.70 -1.02. 0.65, lackey. <br />
Object attributes: -1.86 -1.21 -2.41. 0.76, lazy. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],jeer at,Pete[abusive,boss]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -1.11 0.30 0.77. <br />
Object person Fundamental: -2.54 1.39 1.59. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: 0.00 -0.85 0.11. <br />
Behavior Transient inputs: -1.11 0.30 0.77. <br />
Object person Transient inputs: -0.51 0.10 0.46. <br />
Setting Transient inputs: -0.86 0.29 0.74. <br />
Actor Transient outcomes: -0.69 -0.22 0.52. <br />
Behavior Transient outcomes: -0.76 0.31 0.67. <br />
Object person Transient outcomes: -0.53 -0.47 0.20. <br />
Setting Transient outcomes: -1.02 0.29 0.70. <br />
Deflection: 23.34, Actor: 8.85, Object: 9.48. <br />
Actor emotions: -1.93 -1.42 -0.65. 0.17, uneasy. <br />
Object emotions: 1.16 -1.29 -1.43. 99.99, No words in range. <br />
Actor behaviors: 1.73 1.65 1.30. 0.14, approach. <br />
Object behaviors: -1.35 2.33 3.84. 99.99, No words in range. <br />
Actor labels: -0.92 -0.36 0.76. 0.22, gigolo. <br />
Actor attributes: -1.87 -0.98 0.27. 0.30, inconsiderate. <br />
Object labels: -2.05 0.29 1.13. 0.59, sexist. <br />
Object attributes: -3.27 -1.77 0.93. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],kick,Micky[joyful,worker]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: -1.58 0.68 1.20. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.53 -0.47 0.20. <br />
Behavior Transient inputs: -1.58 0.68 1.20. <br />
Object person Transient inputs: -0.69 -0.22 0.52. <br />
Setting Transient inputs: -1.02 0.29 0.70. <br />
Actor Transient outcomes: -1.08 0.17 0.70. <br />
Behavior Transient outcomes: -1.11 0.69 1.01. <br />
Object person Transient outcomes: -0.60 -0.69 0.24. <br />
Setting Transient outcomes: -1.14 0.36 0.67. <br />
Deflection: 20.68, Actor: 4.42, Object: 10.69. <br />
Actor emotions: 0.41 -0.66 -0.54. 0.62, contrite. <br />
Object emotions: -2.10 -2.04 -1.13. 0.48, dissatisfied. <br />
Actor behaviors: -1.01 1.53 2.85. 99.99, No words in range. <br />
Object behaviors: 0.91 2.22 1.93. 0.68, challenge. <br />
Actor labels: -1.47 -0.20 1.06. 0.45, sexist. <br />
Actor attributes: -2.72 -2.29 0.72. 99.99, No words in range. <br />
Object labels: 0.32 -1.45 -0.16. 0.41, office boy. <br />
Object attributes: -0.98 -2.11 -1.32. 0.87, withdrawn. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Parrot[unfriendly,loafer],laugh at,Micky[joyful,worker]<br />
Actor Fundamental: -1.60 -1.50 -1.87. <br />
Behavior Fundamental: -0.45 0.87 1.34. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -1.60 -1.50 -1.87. <br />
Behavior Transient inputs: -0.45 0.87 1.34. <br />
Object person Transient inputs: -0.60 -0.69 0.24. <br />
Setting Transient inputs: -1.14 0.36 0.67. <br />
Actor Transient outcomes: -0.90 -0.34 -0.44. <br />
Behavior Transient outcomes: -0.61 0.53 0.56. <br />
Object person Transient outcomes: -0.34 -0.57 0.13. <br />
Setting Transient outcomes: -1.12 0.44 0.51. <br />
Deflection: 19.12, Actor: 3.86, Object: 9.35. <br />
Actor emotions: 1.10 1.16 1.00. 0.22, compassionate. <br />
Object emotions: -1.73 -1.80 -1.30. 0.38, dissatisfied. <br />
Actor behaviors: 0.99 -2.43 -0.86. 99.99, No words in range. <br />
Object behaviors: 0.75 2.86 0.04. 99.99, No words in range. <br />
Actor labels: -0.61 -0.35 1.15. 0.44, gigolo. <br />
Actor attributes: 2.20 1.21 3.54. 99.99, No words in range. <br />
Object labels: 0.03 -0.77 -0.24. 0.48, temporary worker. <br />
Object attributes: -1.03 -1.23 -1.31. 0.24, naive. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],hit,Parrot[unfriendly,loafer]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -2.37 1.30 0.88. <br />
Object person Fundamental: -1.60 -1.50 -1.87. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.34 -0.57 0.13. <br />
Behavior Transient inputs: -2.37 1.30 0.88. <br />
Object person Transient inputs: -0.90 -0.34 -0.44. <br />
Setting Transient inputs: -1.12 0.44 0.51. <br />
Actor Transient outcomes: -1.40 0.51 0.71. <br />
Behavior Transient outcomes: -1.42 1.24 0.89. <br />
Object person Transient outcomes: -0.77 -1.02 -0.24. <br />
Setting Transient outcomes: -1.25 0.48 0.53. <br />
Deflection: 20.93, Actor: 10.80, Object: 3.56. <br />
Actor emotions: -2.42 -0.59 -0.22. 0.60, horrified. <br />
Object emotions: 0.84 0.20 1.19. 0.45, lustful. <br />
Actor behaviors: 1.45 2.52 -0.08. 0.91, financially back. <br />
Object behaviors: 0.71 -1.64 -0.49. 99.99, No words in range. <br />
Actor labels: -1.89 1.01 0.99. 0.49, gangster. <br />
Actor attributes: -2.37 0.68 0.88. 0.37, ruthless. <br />
Object labels: -2.54 0.02 1.37. 0.85, sexist. <br />
Object attributes: -1.84 0.85 4.13. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],treat,Pete[abusive,boss]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: 1.95 1.12 0.71. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: -1.08 0.17 0.70. <br />
Behavior Transient inputs: 1.95 1.12 0.71. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -0.49 -0.05 0.46. <br />
Behavior Transient outcomes: -0.27 -0.16 0.29. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 14.28, Actor: 7.53, Object: 0.00. <br />
Actor emotions: 1.91 -0.61 -1.01. 0.97, serene. <br />
Actor behaviors: -0.79 -0.92 1.92. 0.57, babble to. <br />
Actor labels: 2.45 0.21 0.60. 0.50, visitor. <br />
Actor attributes: 3.25 -0.50 -0.18. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],surprise,Pete[abusive,boss]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: 1.86 1.58 1.89. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: -1.08 0.17 0.70. <br />
Behavior Transient inputs: 1.86 1.58 1.89. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -0.49 0.19 0.81. <br />
Behavior Transient outcomes: -0.25 0.06 0.75. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 14.32, Actor: 6.27, Object: 0.00. <br />
Actor emotions: 2.36 -0.25 -0.48. 99.99, No words in range. <br />
Actor behaviors: -0.80 -0.79 1.97. 0.64, babble to. <br />
Actor labels: 2.00 0.45 1.87. 0.52, playmate. <br />
Actor attributes: 2.96 -0.40 1.76. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],hurt,Pete[abusive,boss]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: -1.34 0.32 1.11. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: -1.08 0.17 0.70. <br />
Behavior Transient inputs: -1.34 0.32 1.11. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -0.99 -0.49 0.41. <br />
Behavior Transient outcomes: -1.04 -0.47 0.42. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 8.52, Actor: 7.34, Object: 0.00. <br />
Actor emotions: -0.25 -1.61 -1.05. 0.87, melancholy. <br />
Actor behaviors: -0.85 -1.11 1.90. 0.55, babble to. <br />
Actor labels: -0.85 -0.53 1.20. 0.33, windbag. <br />
Actor attributes: -1.97 -2.58 0.83. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],flunk,Micky[joyful,worker]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -1.56 1.35 -0.18. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: -1.40 0.51 0.71. <br />
Behavior Transient inputs: -1.56 1.35 -0.18. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -1.02 -0.67 -0.31. <br />
Behavior Transient outcomes: -1.03 -0.43 -0.32. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 17.73, Actor: 14.26, Object: 0.00. <br />
Actor emotions: -2.67 -2.06 -1.91. 0.33, miserable. <br />
Actor behaviors: 0.25 -0.71 2.04. 99.99, No words in range. <br />
Actor labels: -0.83 -0.48 -0.22. 0.43, malcontent. <br />
Actor attributes: -1.97 -1.04 -1.19. 0.22, unreliable. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],snarl at,Micky[joyful,worker]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -1.89 0.07 0.58. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: -1.40 0.51 0.71. <br />
Behavior Transient inputs: -1.89 0.07 0.58. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -1.19 -0.56 0.17. <br />
Behavior Transient outcomes: -1.24 -0.56 0.18. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 14.37, Actor: 13.39, Object: 0.00. <br />
Actor emotions: -2.76 -2.00 -1.18. 0.71, humiliated. <br />
Actor behaviors: 0.05 -0.57 2.06. 99.99, No words in range. <br />
Actor labels: -1.16 -0.83 0.61. 0.11, boozer. <br />
Actor attributes: -2.43 -1.69 0.00. 0.54, rude. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],tackle,Micky[joyful,worker]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -0.17 1.47 1.62. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: -1.40 0.51 0.71. <br />
Behavior Transient inputs: -0.17 1.47 1.62. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -0.92 -0.07 0.49. <br />
Behavior Transient outcomes: -0.75 -0.08 0.53. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 13.58, Actor: 9.64, Object: 0.00. <br />
Actor emotions: -2.15 -1.27 -0.65. 0.27, horrified. <br />
Actor behaviors: 0.19 -0.48 1.79. 99.99, No words in range. <br />
Actor labels: -0.14 0.16 1.74. 0.34, fanatic. <br />
Actor attributes: -0.45 -0.14 1.75. 0.81, childish. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],congratulate,Micky[joyful,worker]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: 2.48 1.73 0.90. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: -1.40 0.51 0.71. <br />
Behavior Transient inputs: 2.48 1.73 0.90. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -0.59 0.21 0.47. <br />
Behavior Transient outcomes: -0.21 0.05 0.28. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 17.84, Actor: 7.38, Object: 0.00. <br />
Actor emotions: -1.61 -0.80 -0.66. 0.18, spiteful. <br />
Actor behaviors: 0.42 -0.49 1.61. 99.99, No words in range. <br />
Actor labels: 3.13 0.52 0.66. 99.99, No words in range. <br />
Actor attributes: 3.73 1.30 0.01. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],praise,Micky[joyful,worker]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: 2.07 2.03 1.07. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: -1.40 0.51 0.71. <br />
Behavior Transient inputs: 2.07 2.03 1.07. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -0.62 0.18 0.44. <br />
Behavior Transient outcomes: -0.26 0.09 0.30. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 17.40, Actor: 7.63, Object: 0.00. <br />
Actor emotions: -1.67 -0.85 -0.71. 0.13, spiteful. <br />
Actor behaviors: 0.41 -0.50 1.62. 99.99, No words in range. <br />
Actor labels: 2.30 0.60 0.94. 0.63, visitor. <br />
Actor attributes: 2.75 1.17 0.49. 0.42, polite. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Minnie[affectionate,traveler],flunk,Minnie[affectionate,traveler]<br />
Actor Fundamental: 1.60 0.69 0.69. <br />
Behavior Fundamental: -1.56 1.35 -0.18. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: 1.60 0.69 0.69. <br />
Behavior Transient inputs: -1.56 1.35 -0.18. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -0.22 -0.60 -0.33. <br />
Behavior Transient outcomes: -0.75 -0.18 -0.43. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 9.10, Actor: 6.04, Object: 0.00. <br />
Actor emotions: -1.40 -1.26 -1.29. 0.11, dismayed. <br />
Actor behaviors: 0.58 -0.80 1.11. 99.99, No words in range. <br />
Actor labels: -0.83 -0.48 -0.22. 0.43, malcontent. <br />
Actor attributes: -2.00 -1.16 -1.17. 0.29, indecisive. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Minnie[affectionate,traveler],tug,Minnie[affectionate,traveler]<br />
Actor Fundamental: 1.60 0.69 0.69. <br />
Behavior Fundamental: -0.30 0.25 -0.02. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: 1.60 0.69 0.69. <br />
Behavior Transient inputs: -0.30 0.25 -0.02. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: 0.32 -0.37 0.07. <br />
Behavior Transient outcomes: -0.11 -0.25 -0.08. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 3.45, Actor: 3.16, Object: 0.00. <br />
Actor emotions: -0.56 -0.83 -0.69. 0.26, disapproving. <br />
Actor behaviors: 0.82 -0.73 0.99. 99.99, No words in range. <br />
Actor labels: -0.23 -0.57 0.05. 0.43, stuffed shirt. <br />
Actor attributes: -1.24 -1.16 -0.81. 0.20, stupid. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Minnie[affectionate,traveler],grapple with,Minnie[affectionate,traveler]<br />
Actor Fundamental: 1.60 0.69 0.69. <br />
Behavior Fundamental: -0.87 0.72 1.65. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: 1.60 0.69 0.69. <br />
Behavior Transient inputs: -0.87 0.72 1.65. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -0.01 -0.11 0.54. <br />
Behavior Transient outcomes: -0.40 0.00 0.55. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 5.20, Actor: 3.25, Object: 0.00. <br />
Actor emotions: -0.76 -0.59 0.05. 0.31, shaken. <br />
Actor behaviors: 0.54 -0.57 0.96. 0.94, laud. <br />
Actor labels: -0.57 -0.21 1.78. 0.46, hotshot. <br />
Actor attributes: -1.20 -0.89 1.81. 0.73, childish. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],sympathize with,Minnie[affectionate,traveler]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: 2.12 1.59 -0.10. <br />
Object person Fundamental: 1.60 0.69 0.69. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -1.40 0.51 0.71. <br />
Behavior Transient inputs: 2.12 1.59 -0.10. <br />
Object person Transient inputs: 1.60 0.69 0.69. <br />
Setting Transient inputs: -1.25 0.48 0.53. <br />
Actor Transient outcomes: 0.46 0.74 0.32. <br />
Behavior Transient outcomes: 0.99 1.03 0.20. <br />
Object person Transient outcomes: 0.90 -0.12 0.40. <br />
Setting Transient outcomes: -0.80 0.66 0.71. <br />
Deflection: 9.56, Actor: 3.09, Object: 1.24. <br />
Actor emotions: -0.10 0.21 -0.86. 0.19, repentant. <br />
Object emotions: 0.33 -0.37 -0.21. 0.53, self-conscious. <br />
Actor behaviors: 2.89 1.61 0.79. 0.44, congratulate. <br />
Object behaviors: 2.78 1.32 0.63. 0.25, dine with. <br />
Actor labels: 2.76 1.36 0.25. 0.35, helper. <br />
Actor attributes: 3.61 2.42 -0.43. 0.78, honest. <br />
Object labels: 2.26 -1.71 0.76. 99.99, No words in range. <br />
Object attributes: 1.48 -2.19 -0.10. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],save,Minnie[affectionate,traveler]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: 2.85 2.66 1.61. <br />
Object person Fundamental: 1.60 0.69 0.69. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: 0.46 0.74 0.32. <br />
Behavior Transient inputs: 2.85 2.66 1.61. <br />
Object person Transient inputs: 0.90 -0.12 0.40. <br />
Setting Transient inputs: -0.80 0.66 0.71. <br />
Actor Transient outcomes: 1.51 1.27 0.66. <br />
Behavior Transient outcomes: 1.55 1.75 1.18. <br />
Object person Transient outcomes: 0.95 -0.34 0.35. <br />
Setting Transient outcomes: -0.48 0.81 0.65. <br />
Deflection: 7.29, Actor: 0.62, Object: 1.60. <br />
Actor emotions: 1.49 1.19 -0.34. 0.52, touched. <br />
Object emotions: 0.28 -0.66 -0.31. 0.45, contrite. <br />
Actor behaviors: 2.49 1.45 0.54. 0.27, dine with. <br />
Object behaviors: 2.78 1.74 0.95. 0.27, compliment. <br />
Actor labels: 3.21 1.68 1.30. 99.99, No words in range. <br />
Actor attributes: 4.51 2.90 1.12. 99.99, No words in range. <br />
Object labels: 2.58 -0.69 0.42. 99.99, No words in range. <br />
Object attributes: 2.35 -0.64 -0.46. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Minnie[affectionate,traveler],flirt with,Micky[joyful,worker]<br />
Actor Fundamental: 1.60 0.69 0.69. <br />
Behavior Fundamental: 2.23 1.82 1.20. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: 0.95 -0.34 0.35. <br />
Behavior Transient inputs: 2.23 1.82 1.20. <br />
Object person Transient inputs: 1.51 1.27 0.66. <br />
Setting Transient inputs: -0.48 0.81 0.65. <br />
Actor Transient outcomes: 1.37 0.46 0.66. <br />
Behavior Transient outcomes: 1.25 1.15 0.94. <br />
Object person Transient outcomes: 1.02 0.51 0.37. <br />
Setting Transient outcomes: -0.33 0.80 0.57. <br />
Deflection: 5.81, Actor: 0.11, Object: 2.21. <br />
Actor emotions: 1.24 0.54 0.23. 0.44, awe-struck. <br />
Object emotions: 0.47 0.02 -0.86. 0.25, nostalgic. <br />
Actor behaviors: 2.64 0.97 0.45. 0.44, dine with. <br />
Object behaviors: 2.61 2.02 1.20. 0.07, welcome. <br />
Actor labels: 2.90 0.90 1.11. 0.94, helper. <br />
Actor attributes: 3.69 1.62 0.78. 0.85, generous. <br />
Object labels: 2.40 -0.62 0.33. 0.97, apprentice. <br />
Object attributes: 2.16 -0.46 -0.60. 0.97, cautious. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Minnie[affectionate,traveler],distract,Minnie[affectionate,traveler]<br />
Actor Fundamental: 1.60 0.69 0.69. <br />
Behavior Fundamental: -1.16 -0.05 0.86. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: 1.37 0.46 0.66. <br />
Behavior Transient inputs: -1.16 -0.05 0.86. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -0.07 -0.40 0.35. <br />
Behavior Transient outcomes: -0.47 -0.31 0.28. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 5.01, Actor: 4.12, Object: 0.00. <br />
Actor emotions: -1.01 -1.00 -0.26. 0.15, flustered. <br />
Actor behaviors: 0.54 -0.64 1.08. 99.99, No words in range. <br />
Actor labels: -0.84 -0.67 0.97. 0.42, know-it-all. <br />
Actor attributes: -1.91 -1.54 0.55. 0.62, vain. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Minnie[affectionate,traveler],surprise,Minnie[affectionate,traveler]<br />
Actor Fundamental: 1.60 0.69 0.69. <br />
Behavior Fundamental: 1.86 1.58 1.89. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: 1.37 0.46 0.66. <br />
Behavior Transient inputs: 1.86 1.58 1.89. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: 0.75 0.30 0.77. <br />
Behavior Transient outcomes: 0.52 0.30 0.81. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 5.51, Actor: 0.88, Object: 0.00. <br />
Actor emotions: 0.42 0.15 0.41. 0.49, self-conscious. <br />
Actor behaviors: 0.89 -0.49 0.78. 99.99, No words in range. <br />
Actor labels: 2.00 0.45 1.87. 0.52, playmate. <br />
Actor attributes: 2.43 0.68 1.88. 0.60, playful. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Minnie[affectionate,traveler],implore,Micky[joyful,worker]<br />
Actor Fundamental: 1.60 0.69 0.69. <br />
Behavior Fundamental: 0.62 0.15 0.08. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: 1.37 0.46 0.66. <br />
Behavior Transient inputs: 0.62 0.15 0.08. <br />
Object person Transient inputs: 1.02 0.51 0.37. <br />
Setting Transient inputs: -0.33 0.80 0.57. <br />
Actor Transient outcomes: 0.76 0.17 0.54. <br />
Behavior Transient outcomes: 0.39 0.25 0.20. <br />
Object person Transient outcomes: 0.49 -0.19 0.11. <br />
Setting Transient outcomes: -0.50 0.53 0.56. <br />
Deflection: 9.22, Actor: 1.00, Object: 5.40. <br />
Actor emotions: 0.33 -0.01 0.06. 0.20, self-conscious. <br />
Object emotions: -0.55 -1.06 -1.30. 0.26, sorry. <br />
Actor behaviors: 2.95 0.80 0.38. 0.72, dine with. <br />
Object behaviors: 2.74 2.29 1.23. 0.27, welcome. <br />
Actor labels: 0.46 -0.14 0.32. 0.32, saleslady. <br />
Actor attributes: -0.09 -0.40 -0.40. 0.36, placid. <br />
Object labels: 0.94 -0.86 0.38. 0.21, flight attendant. <br />
Object attributes: 0.19 -1.18 -0.48. 0.75, soft-spoken. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],help,Minnie[affectionate,traveler]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: 2.90 2.65 1.58. <br />
Object person Fundamental: 1.60 0.69 0.69. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: 0.49 -0.19 0.11. <br />
Behavior Transient inputs: 2.90 2.65 1.58. <br />
Object person Transient inputs: 0.76 0.17 0.54. <br />
Setting Transient inputs: -0.50 0.53 0.56. <br />
Actor Transient outcomes: 1.42 0.86 0.63. <br />
Behavior Transient outcomes: 1.44 1.59 1.17. <br />
Object person Transient outcomes: 0.84 0.06 0.40. <br />
Setting Transient outcomes: -0.30 0.71 0.50. <br />
Deflection: 7.39, Actor: 0.89, Object: 1.06. <br />
Actor emotions: 1.18 0.59 -0.44. 0.39, sentimental. <br />
Object emotions: 0.35 -0.13 -0.17. 0.30, self-conscious. <br />
Actor behaviors: 2.52 1.66 0.81. 0.12, congratulate. <br />
Object behaviors: 2.78 1.35 0.77. 0.22, dine with. <br />
Actor labels: 3.25 1.69 1.27. 99.99, No words in range. <br />
Actor attributes: 4.57 2.92 1.08. 99.99, No words in range. <br />
Object labels: 2.94 -0.50 0.58. 99.99, No words in range. <br />
Object attributes: 2.93 -0.30 -0.22. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],serenade,Minnie[affectionate,traveler]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: 1.57 1.27 0.98. <br />
Object person Fundamental: 1.60 0.69 0.69. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: 1.42 0.86 0.63. <br />
Behavior Transient inputs: 1.57 1.27 0.98. <br />
Object person Transient inputs: 0.84 0.06 0.40. <br />
Setting Transient inputs: -0.30 0.71 0.50. <br />
Actor Transient outcomes: 1.23 0.80 0.71. <br />
Behavior Transient outcomes: 0.96 0.97 0.79. <br />
Object person Transient outcomes: 0.69 -0.29 0.25. <br />
Setting Transient outcomes: -0.34 0.61 0.46. <br />
Deflection: 5.75, Actor: 0.98, Object: 1.99. <br />
Actor emotions: 0.93 0.45 -0.32. 0.46, reverent. <br />
Object emotions: -0.03 -0.64 -0.45. 0.19, contrite. <br />
Actor behaviors: 2.63 1.53 0.66. 0.26, dine with. <br />
Object behaviors: 2.85 1.56 0.88. 0.40, congratulate. <br />
Actor labels: 1.58 0.66 1.02. 0.29, workmate. <br />
Actor attributes: 1.88 1.07 0.66. 0.07, cooperative. <br />
Object labels: 1.82 -0.89 0.44. 0.58, apprentice. <br />
Object attributes: 1.29 -1.12 -0.41. 0.95, cautious. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],entertain,Minnie[affectionate,traveler]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: 2.29 1.85 1.80. <br />
Object person Fundamental: 1.60 0.69 0.69. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: 1.23 0.80 0.71. <br />
Behavior Transient inputs: 2.29 1.85 1.80. <br />
Object person Transient inputs: 0.69 -0.29 0.25. <br />
Setting Transient inputs: -0.34 0.61 0.46. <br />
Actor Transient outcomes: 1.46 0.98 0.91. <br />
Behavior Transient outcomes: 1.27 1.26 1.33. <br />
Object person Transient outcomes: 0.81 -0.38 0.27. <br />
Setting Transient outcomes: -0.29 0.60 0.42. <br />
Deflection: 6.15, Actor: 0.42, Object: 1.96. <br />
Actor emotions: 1.33 0.74 -0.01. 0.29, reverent. <br />
Object emotions: 0.08 -0.75 -0.44. 0.32, contrite. <br />
Actor behaviors: 2.54 1.45 0.57. 0.24, dine with. <br />
Object behaviors: 2.78 1.71 0.95. 0.29, compliment. <br />
Actor labels: 2.31 0.81 1.51. 0.78, vacationer. <br />
Actor attributes: 2.96 1.43 1.35. 0.58, generous. <br />
Object labels: 2.21 -0.70 0.48. 0.80, apprentice. <br />
Object attributes: 1.88 -0.75 -0.35. 0.92, cautious. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Minnie[affectionate,traveler],entertain,Micky[joyful,worker]<br />
Actor Fundamental: 1.60 0.69 0.69. <br />
Behavior Fundamental: 2.29 1.85 1.80. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: 0.81 -0.38 0.27. <br />
Behavior Transient inputs: 2.29 1.85 1.80. <br />
Object person Transient inputs: 1.46 0.98 0.91. <br />
Setting Transient inputs: -0.29 0.60 0.42. <br />
Actor Transient outcomes: 1.31 0.46 0.77. <br />
Behavior Transient outcomes: 1.22 1.13 1.30. <br />
Object person Transient outcomes: 1.03 0.49 0.54. <br />
Setting Transient outcomes: -0.19 0.66 0.38. <br />
Deflection: 5.84, Actor: 0.14, Object: 1.89. <br />
Actor emotions: 1.19 0.52 0.40. 0.38, contented. <br />
Object emotions: 0.51 -0.02 -0.61. 0.05, nostalgic. <br />
Actor behaviors: 2.63 0.96 0.42. 0.47, dine with. <br />
Object behaviors: 2.57 1.98 1.14. 0.12, welcome. <br />
Actor labels: 2.89 0.74 1.49. 99.99, No words in range. <br />
Actor attributes: 3.65 1.35 1.31. 0.93, generous. <br />
Object labels: 2.54 -0.52 0.50. 99.99, No words in range. <br />
Object attributes: 2.41 -0.30 -0.34. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],entertain,Micky[joyful,worker]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: 2.29 1.85 1.80. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: 1.03 0.49 0.54. <br />
Behavior Transient inputs: 2.29 1.85 1.80. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: 0.70 0.36 0.67. <br />
Behavior Transient outcomes: 0.55 0.34 0.70. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 9.00, Actor: 2.47, Object: 0.00. <br />
Actor emotions: 0.06 -0.29 -0.42. 0.36, contrite. <br />
Actor behaviors: 1.20 -0.55 1.50. 99.99, No words in range. <br />
Actor labels: 2.60 0.58 1.68. 0.85, playmate. <br />
Actor attributes: 3.24 1.16 1.55. 0.95, generous. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Minnie[affectionate,traveler],entertain,Minnie[affectionate,traveler]<br />
Actor Fundamental: 1.60 0.69 0.69. <br />
Behavior Fundamental: 2.29 1.85 1.80. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: 1.31 0.46 0.77. <br />
Behavior Transient inputs: 2.29 1.85 1.80. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: 0.84 0.35 0.80. <br />
Behavior Transient outcomes: 0.64 0.35 0.81. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 6.66, Actor: 0.71, Object: 0.00. <br />
Actor emotions: 0.55 0.24 0.45. 0.59, self-conscious. <br />
Actor behaviors: 0.92 -0.48 0.76. 0.98, pay for. <br />
Actor labels: 2.60 0.58 1.68. 0.85, playmate. <br />
Actor attributes: 3.23 1.04 1.57. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],applaud,Micky[joyful,worker]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: 2.15 1.63 1.62. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: 1.03 0.49 0.54. <br />
Behavior Transient inputs: 2.15 1.63 1.62. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: 0.68 0.30 0.63. <br />
Behavior Transient outcomes: 0.51 0.27 0.64. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 8.18, Actor: 2.70, Object: 0.00. <br />
Actor emotions: 0.00 -0.38 -0.49. 0.29, contrite. <br />
Actor behaviors: 1.19 -0.57 1.52. 99.99, No words in range. <br />
Actor labels: 2.48 0.47 1.52. 0.84, playmate. <br />
Actor attributes: 3.02 1.00 1.31. 0.84, polite. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],ignore,Pete[abusive,boss]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -1.58 -0.75 -1.44. <br />
Object person Fundamental: -2.54 1.39 1.59. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: 1.03 0.49 0.54. <br />
Behavior Transient inputs: -1.58 -0.75 -1.44. <br />
Object person Transient inputs: -1.08 0.17 0.70. <br />
Setting Transient inputs: -0.19 0.66 0.38. <br />
Actor Transient outcomes: -0.31 -0.04 0.20. <br />
Behavior Transient outcomes: -0.56 -0.07 -0.73. <br />
Object person Transient outcomes: -0.90 -0.40 0.22. <br />
Setting Transient outcomes: -0.61 0.30 0.47. <br />
Deflection: 20.65, Actor: 7.36, Object: 7.79. <br />
Actor emotions: -1.44 -1.05 -1.11. 0.21, dismayed. <br />
Object emotions: 0.07 -1.41 -1.34. 0.84, sorry. <br />
Actor behaviors: 1.36 1.72 1.24. 0.32, bargain with. <br />
Object behaviors: -1.17 2.24 3.65. 99.99, No words in range. <br />
Actor labels: -1.05 0.36 -0.88. 0.72, malingerer. <br />
Actor attributes: -1.94 0.13 -2.02. 0.96, cold. <br />
Object labels: -1.75 0.39 0.48. 0.49, foe. <br />
Object attributes: -2.90 -1.49 -0.03. 0.52, rude. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],yell at,Micky[joyful,worker]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: -1.05 0.39 1.69. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.90 -0.40 0.22. <br />
Behavior Transient inputs: -1.05 0.39 1.69. <br />
Object person Transient inputs: -0.31 -0.04 0.20. <br />
Setting Transient inputs: -0.61 0.30 0.47. <br />
Actor Transient outcomes: -1.12 -0.02 0.74. <br />
Behavior Transient outcomes: -0.98 0.43 1.23. <br />
Object person Transient outcomes: -0.38 -0.50 0.12. <br />
Setting Transient outcomes: -0.85 0.27 0.47. <br />
Deflection: 18.66, Actor: 4.73, Object: 9.32. <br />
Actor emotions: 0.08 -0.97 -0.50. 0.50, contrite. <br />
Object emotions: -1.76 -1.71 -1.29. 0.32, dissatisfied. <br />
Actor behaviors: -1.01 1.71 3.11. 99.99, No words in range. <br />
Object behaviors: 0.92 2.15 1.81. 0.57, challenge. <br />
Actor labels: -1.27 -0.84 1.48. 99.99, No words in range. <br />
Actor attributes: -2.72 -3.17 1.23. 99.99, No words in range. <br />
Object labels: 0.25 -1.06 -0.23. 0.42, temporary worker. <br />
Object attributes: -0.89 -1.59 -1.35. 0.47, submissive. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],order,Micky[joyful,worker]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: -0.34 1.00 0.93. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -1.12 -0.02 0.74. <br />
Behavior Transient inputs: -0.34 1.00 0.93. <br />
Object person Transient inputs: -0.38 -0.50 0.12. <br />
Setting Transient inputs: -0.85 0.27 0.47. <br />
Actor Transient outcomes: -0.80 0.38 0.80. <br />
Behavior Transient outcomes: -0.55 0.80 0.91. <br />
Object person Transient outcomes: -0.25 -0.80 0.08. <br />
Setting Transient outcomes: -0.92 0.34 0.54. <br />
Deflection: 19.34, Actor: 4.70, Object: 10.06. <br />
Actor emotions: 1.63 -0.15 -0.43. 0.48, sentimental. <br />
Object emotions: -1.75 -2.10 -1.40. 0.58, dissatisfied. <br />
Actor behaviors: -0.90 1.48 2.46. 0.85, chew out. <br />
Object behaviors: 0.91 2.35 2.01. 0.81, challenge. <br />
Actor labels: -0.55 0.04 0.90. 0.30, pornographer. <br />
Actor attributes: -1.24 -1.65 0.45. 0.93, vain. <br />
Object labels: 0.37 -1.12 -0.29. 0.36, trainee. <br />
Object attributes: -0.77 -1.63 -1.46. 0.53, shy. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],restrain,Micky[joyful,worker]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: 0.06 0.82 1.10. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.80 0.38 0.80. <br />
Behavior Transient inputs: 0.06 0.82 1.10. <br />
Object person Transient inputs: -0.25 -0.80 0.08. <br />
Setting Transient inputs: -0.92 0.34 0.54. <br />
Actor Transient outcomes: -0.54 0.43 0.82. <br />
Behavior Transient outcomes: -0.29 0.69 0.96. <br />
Object person Transient outcomes: -0.10 -0.89 0.11. <br />
Setting Transient outcomes: -0.93 0.38 0.61. <br />
Deflection: 19.89, Actor: 5.53, Object: 9.78. <br />
Actor emotions: 2.52 0.09 -0.42. 0.92, relieved. <br />
Object emotions: -1.60 -2.19 -1.38. 0.74, dissatisfied. <br />
Actor behaviors: -0.92 1.57 2.39. 0.85, chew out. <br />
Object behaviors: 1.01 2.38 2.03. 0.82, challenge. <br />
Actor labels: -0.23 -0.27 1.02. 0.56, gigolo. <br />
Actor attributes: -0.93 -2.01 0.55. 99.99, No words in range. <br />
Object labels: 0.13 -0.95 -0.43. 0.59, temporary worker. <br />
Object attributes: -1.02 -1.44 -1.62. 0.33, naive. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],submit to,Pete[abusive,boss]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -1.49 -1.62 -1.00. <br />
Object person Fundamental: -2.54 1.39 1.59. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.10 -0.89 0.11. <br />
Behavior Transient inputs: -1.49 -1.62 -1.00. <br />
Object person Transient inputs: -0.54 0.43 0.82. <br />
Setting Transient inputs: -0.93 0.38 0.61. <br />
Actor Transient outcomes: -0.61 -1.21 -0.13. <br />
Behavior Transient outcomes: -0.70 -0.95 -0.59. <br />
Object person Transient outcomes: -0.66 -0.49 0.27. <br />
Setting Transient outcomes: -1.08 0.08 0.61. <br />
Deflection: 29.77, Actor: 14.07, Object: 8.86. <br />
Actor emotions: -2.42 -2.74 -1.75. 0.76, sickened. <br />
Object emotions: 0.74 -1.41 -1.32. 99.99, No words in range. <br />
Actor behaviors: 1.19 2.47 2.56. 99.99, No words in range. <br />
Object behaviors: -1.45 2.06 3.96. 99.99, No words in range. <br />
Actor labels: -1.03 -0.87 -0.77. 0.69, lackey. <br />
Actor attributes: -2.52 -1.59 -2.05. 0.60, unambitious. <br />
Object labels: -2.01 0.56 0.06. 0.43, foe. <br />
Object attributes: -3.26 -1.29 -0.60. 0.81, evil. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Pete[abusive,boss],walk out on,Micky[joyful,worker]<br />
Actor Fundamental: -2.54 1.39 1.59. <br />
Behavior Fundamental: -0.99 0.80 0.32. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.66 -0.49 0.27. <br />
Behavior Transient inputs: -0.99 0.80 0.32. <br />
Object person Transient inputs: -0.61 -1.21 -0.13. <br />
Setting Transient inputs: -1.08 0.08 0.61. <br />
Actor Transient outcomes: -0.91 0.13 0.47. <br />
Behavior Transient outcomes: -0.68 0.68 0.46. <br />
Object person Transient outcomes: -0.35 -1.15 -0.07. <br />
Setting Transient outcomes: -1.13 0.22 0.62. <br />
Deflection: 23.59, Actor: 5.51, Object: 12.45. <br />
Actor emotions: 0.80 -0.60 -0.92. 0.74, nostalgic. <br />
Object emotions: -2.06 -2.60 -1.67. 0.65, sickened. <br />
Actor behaviors: -1.04 1.55 2.92. 99.99, No words in range. <br />
Object behaviors: 0.85 2.55 2.37. 99.99, No words in range. <br />
Actor labels: -1.08 0.50 0.48. 0.63, pornographer. <br />
Actor attributes: -1.84 -1.13 -0.06. 0.17, vain. <br />
Object labels: 0.58 -1.52 -0.33. 0.21, office boy. <br />
Object attributes: -0.71 -2.13 -1.59. 0.93, withdrawn. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],torment,Micky[joyful,worker]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -1.87 0.32 0.21. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: -0.35 -1.15 -0.07. <br />
Behavior Transient inputs: -1.87 0.32 0.21. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -0.85 -1.25 -0.27. <br />
Behavior Transient outcomes: -1.05 -0.86 -0.29. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 18.23, Actor: 15.91, Object: 0.00. <br />
Actor emotions: -2.75 -2.84 -1.95. 99.99, No words in range. <br />
Actor behaviors: 0.34 -0.83 2.30. 99.99, No words in range. <br />
Actor labels: -1.13 -0.82 0.21. 0.28, mental case. <br />
Actor attributes: -2.46 -1.63 -0.59. 0.60, pessimistic. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],suck up to,Micky[joyful,worker]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -1.23 -1.36 -0.50. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: -0.35 -1.15 -0.07. <br />
Behavior Transient inputs: -1.23 -1.36 -0.50. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -0.81 -1.30 -0.18. <br />
Behavior Transient outcomes: -0.92 -1.18 -0.33. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 15.79, Actor: 15.63, Object: 0.00. <br />
Actor emotions: -2.70 -2.91 -1.83. 99.99, No words in range. <br />
Actor behaviors: 0.36 -0.83 2.32. 99.99, No words in range. <br />
Actor labels: -1.25 -1.40 -0.41. 0.35, moron. <br />
Actor attributes: -3.00 -2.42 -1.59. 0.83, unambitious. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],work,Micky[joyful,worker]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -0.24 1.05 0.74. <br />
Object person Fundamental: 99.99 99.99 99.99. <br />
Setting Fundamental: 99.99 99.99 99.99. <br />
Actor Transient inputs: -0.35 -1.15 -0.07. <br />
Behavior Transient inputs: -0.24 1.05 0.74. <br />
Object person Transient inputs: 99.99 99.99 99.99. <br />
Setting Transient inputs: 99.99 99.99 99.99. <br />
Actor Transient outcomes: -0.44 -0.88 -0.08. <br />
Behavior Transient outcomes: -0.59 -0.56 -0.05. <br />
Object person Transient outcomes: 99.99 99.99 99.99. <br />
Setting Transient outcomes: 99.99 99.99 99.99. <br />
Deflection: 14.97, Actor: 11.63, Object: 0.00. <br />
Actor emotions: -2.05 -2.24 -1.64. 0.35, sickened. <br />
Actor behaviors: 0.61 -0.80 2.07. 99.99, No words in range. <br />
Actor labels: -0.15 -0.15 0.82. 0.53, opponent. <br />
Actor attributes: -0.77 -0.49 0.35. 0.11, temperamental. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Parrot[unfriendly,loafer],smirk at,Micky[joyful,worker]<br />
Actor Fundamental: -1.60 -1.50 -1.87. <br />
Behavior Fundamental: -0.21 0.82 0.44. <br />
Object person Fundamental: 1.71 1.30 1.42. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.77 -1.02 -0.24. <br />
Behavior Transient inputs: -0.21 0.82 0.44. <br />
Object person Transient inputs: -0.35 -1.15 -0.07. <br />
Setting Transient inputs: -1.13 0.22 0.62. <br />
Actor Transient outcomes: -0.57 -0.17 0.16. <br />
Behavior Transient outcomes: -0.29 0.53 0.39. <br />
Object person Transient outcomes: -0.13 -1.01 -0.03. <br />
Setting Transient outcomes: -1.08 0.32 0.60. <br />
Deflection: 23.01, Actor: 6.95, Object: 10.82. <br />
Actor emotions: 2.22 1.54 1.87. 0.33, elated. <br />
Object emotions: -1.72 -2.35 -1.60. 0.68, sickened. <br />
Actor behaviors: 0.98 -2.71 -1.01. 99.99, No words in range. <br />
Object behaviors: 0.69 2.97 -0.10. 99.99, No words in range. <br />
Actor labels: -0.44 0.34 0.55. 0.19, pornographer. <br />
Actor attributes: 3.06 2.36 2.74. 0.83, adventurous. <br />
Object labels: 0.40 -1.17 -0.49. 0.42, trainee. <br />
Object attributes: -0.79 -1.67 -1.76. 0.57, shy. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],glower at,Parrot[unfriendly,loafer]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -0.53 0.09 0.39. <br />
Object person Fundamental: -1.60 -1.50 -1.87. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.13 -1.01 -0.03. <br />
Behavior Transient inputs: -0.53 0.09 0.39. <br />
Object person Transient inputs: -0.57 -0.17 0.16. <br />
Setting Transient inputs: -1.08 0.32 0.60. <br />
Actor Transient outcomes: -0.47 -0.49 0.26. <br />
Behavior Transient outcomes: -0.39 0.08 0.34. <br />
Object person Transient outcomes: -0.43 -0.54 0.06. <br />
Setting Transient outcomes: -1.09 0.31 0.61. <br />
Deflection: 20.44, Actor: 9.25, Object: 5.99. <br />
Actor emotions: -1.83 -1.72 -1.08. 0.26, despondent. <br />
Object emotions: 2.18 1.06 1.65. 0.44, cheerful. <br />
Actor behaviors: 1.02 2.70 -0.03. 99.99, No words in range. <br />
Object behaviors: 0.85 -2.22 -0.70. 99.99, No words in range. <br />
Actor labels: -0.71 0.06 0.55. 0.29, pornographer. <br />
Actor attributes: -1.42 -0.32 0.01. 0.32, cynical. <br />
Object labels: -1.51 -0.04 0.95. 0.43, sexist. <br />
Object attributes: 0.36 1.27 3.38. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],sock,Parrot[unfriendly,loafer]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -1.37 0.58 1.20. <br />
Object person Fundamental: -1.60 -1.50 -1.87. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -0.47 -0.49 0.26. <br />
Behavior Transient inputs: -1.37 0.58 1.20. <br />
Object person Transient inputs: -0.43 -0.54 0.06. <br />
Setting Transient inputs: -1.09 0.31 0.61. <br />
Actor Transient outcomes: -1.11 0.07 0.71. <br />
Behavior Transient outcomes: -1.03 0.59 0.99. <br />
Object person Transient outcomes: -0.42 -0.83 0.04. <br />
Setting Transient outcomes: -1.17 0.36 0.62. <br />
Deflection: 21.03, Actor: 9.96, Object: 5.46. <br />
Actor emotions: -2.28 -1.14 -0.29. 0.22, horrified. <br />
Object emotions: 1.91 0.63 1.58. 0.82, gleeful. <br />
Actor behaviors: 1.38 2.47 -0.10. 0.94, financially back. <br />
Object behaviors: 0.78 -1.84 -0.56. 99.99, No words in range. <br />
Actor labels: -1.36 0.52 1.17. 0.30, gangster. <br />
Actor attributes: -1.92 0.10 1.03. 0.34, sadistic. <br />
Object labels: -2.27 0.26 1.31. 0.75, sexist. <br />
Object attributes: -1.02 1.34 4.03. 99.99, No words in range. </p>

<p>Experiences of Micky Male, in setting: office. <br />
Micky[joyful,worker],laugh at,Parrot[unfriendly,loafer]<br />
Actor Fundamental: 1.71 1.30 1.42. <br />
Behavior Fundamental: -0.45 0.87 1.34. <br />
Object person Fundamental: -1.60 -1.50 -1.87. <br />
Setting Fundamental: 1.02 1.14 0.83. <br />
Actor Transient inputs: -1.11 0.07 0.71. <br />
Behavior Transient inputs: -0.45 0.87 1.34. <br />
Object person Transient inputs: -0.42 -0.83 0.04. <br />
Setting Transient inputs: -1.17 0.36 0.62. <br />
Actor Transient outcomes: -0.88 0.35 0.87. <br />
Behavior Transient outcomes: -0.63 0.75 1.14. <br />
Object person Transient outcomes: -0.24 -0.95 0.08. <br />
Setting Transient outcomes: -1.13 0.43 0.66. <br />
Deflection: 19.12, Actor: 7.92, Object: 5.94. <br />
Actor emotions: -1.84 -0.71 -0.03. 0.43, irked. <br />
Object emotions: 2.25 0.54 1.61. 0.89, amused. <br />
Actor behaviors: 1.50 2.20 -0.09. 0.74, financially back. <br />
Object behaviors: 0.64 -1.66 -0.44. 99.99, No words in range. <br />
Actor labels: -0.80 0.61 1.22. 0.55, racketeer. <br />
Actor attributes: -1.15 0.38 1.08. 0.42, quarrelsome. <br />
Object labels: -0.85 -0.79 1.39. 0.80, gigolo. <br />
Object attributes: 1.32 0.44 3.85. 99.99, No words in range.</p>
