<%= link_to "OCC and Interact Basic Comparison", interact_basic_path %>
<h1>Interact with Basic Functins Report</h1>

<p>Experiences of Micky Male. <br />
Micky[_,worker],entertain,Micky[_,worker]<br />
Deflection: 6.08. <br />
Actor emotions: awe-struck. contented. reverent. self-conscious. <br />
Actor behaviors: No words in range. <br />
Actor labels: playmate. <br />
Actor attributes: generous. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],play with,Micky[_,worker]<br />
Deflection: 3.37. <br />
Actor emotions: self-conscious. no emotion. reverent. awe-struck. <br />
Actor behaviors: No words in range. <br />
Actor labels: visitor. <br />
Actor attributes: polite. accommodating. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],approach,Micky[_,worker]<br />
Deflection: 1.23. <br />
Actor emotions: charmed. merry. overjoyed. cheerful. <br />
Object emotions: self-conscious. nostalgic. no emotion. sentimental. <br />
Actor behaviors: negotiate with. collaborate with. appeal to. face. <br />
Object behaviors: chat with. chitchat with. caution. speak to. <br />
Actor labels: opportunist. teammate. workman. coach. <br />
Actor attributes: polite. generous. <br />
Object labels: flight attendant. tenant. temporary worker. waiter. <br />
Object attributes: soft-spoken. aloof. dependent. apathetic. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],grab,Micky[_,worker]<br />
Deflection: 5.58. <br />
Actor emotions: impatient. mad. anxious. aggravated. <br />
Object emotions: disapproving. lovesick. melancholy. contrite. <br />
Actor behaviors: explain something to. assist. reason with. accommodate. <br />
Object behaviors: chat with. chitchat with. caution. speak to. <br />
Actor labels: gangster. sexist. <br />
Actor attributes: rude. arrogant. <br />
Object labels: bureaucrat. malcontent. spendthrift. toady. <br />
Object attributes: insensitive. prejudiced. shrewd. careless. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],discipline,Micky[_,worker]<br />
Deflection: 5.29. <br />
Actor emotions: no emotion. mad. shocked. anxious. <br />
Object emotions: lovesick. embarrassed. sorry. sorrowful. <br />
Actor behaviors: reassure. shake hands with. converse with. accommodate. <br />
Object behaviors: speak to. grin at. amuse. agree with. <br />
Actor labels: celebrity. boss. authority. supervisor. <br />
Actor attributes: outspoken. persistent. industrious. masculine. <br />
Object labels: temporary worker. lackey. trainee. yes-man. <br />
Object attributes: unimaginative. naive. timid. withdrawn. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],order,Micky[_,worker]<br />
Deflection: 7.09. <br />
Actor emotions: mad. anxious. impatient. envious. <br />
Object emotions: embarrassed. glum. cheerless. dismayed. <br />
Actor behaviors: console. reassure. make up with. wink at. <br />
Object behaviors: amuse. transact business with. drink with. bargain with. <br />
Actor labels: racketeer. pimp. gangster. mobster. <br />
Actor attributes: egotistical. childish. reckless. quarrelsome. <br />
Object labels: pornographer. gangster. bureaucrat. gigolo. <br />
Object attributes: scornful. hostile. bossy. greedy. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],look away from,Micky[_,worker]<br />
Deflection: 9.37. <br />
Actor emotions: frightened. uneasy. worried. bitter. <br />
Object emotions: heavy-hearted. discouraged. sorrowful. disapproving. <br />
Actor behaviors: praise. aid. raise the pay of. make business proposal to. <br />
Object behaviors: chat with. chitchat with. answer. caution. <br />
Actor labels: gigolo. pornographer. bureaucrat. spendthrift. <br />
Actor attributes: No words in range. <br />
Object labels: pornographer. insider. racketeer. pimp. <br />
Object attributes: sarcastic. vengeful. domineering. greedy. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],jeer at,Pete[_,boss]<br />
Deflection: 10.81. <br />
Actor emotions: apprehensive. peeved. distressed. discouraged. <br />
Object emotions: uneasy. afraid. scared. petrified. <br />
Actor behaviors: confer with. answer. <br />
Object behaviors: defend. make business proposal to. praise. back. <br />
Actor labels: gigolo. pornographer. <br />
Actor attributes: conceited. immature. irritable. reckless. <br />
Object labels: gangster. foe. <br />
Object attributes: rude. cruel. arrogant. inconsiderate. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],kick,Micky[_,worker]<br />
Deflection: 11.87. <br />
Actor emotions: overwhelmed. frightened. bitter. afraid. <br />
Object emotions: regretful. spiteful. fearful. uptight. <br />
Actor behaviors: give a raise to. aid. reason with. praise. <br />
Object behaviors: answer. chitchat with. chat with. show something to. <br />
Actor labels: gangster. <br />
Actor attributes: arrogant. self-centered. irritable. sadistic. <br />
Object labels: sexist. foe. gangster. <br />
Object attributes: rude. cruel. arrogant. mean. </p>

<p>Experiences of Micky Male. <br />
Parrot[_,loafer],laugh at,Micky[_,worker]<br />
Deflection: 8.87. <br />
Actor emotions: awe-struck. contented. reverent. compassionate. <br />
Object emotions: cheerless. dismayed. self-pitying. fearful. <br />
Actor behaviors: No words in range. <br />
Object behaviors: discipline. <br />
Actor labels: gangster. racketeer. pimp. pornographer. <br />
Actor attributes: No words in range. <br />
Object labels: clock watcher. flunky. <br />
Object attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],hit,Parrot[_,loafer]<br />
Deflection: 9.51. <br />
Actor emotions: displeased. distressed. aggravated. annoyed. <br />
Object emotions: shocked. no emotion. envious. mad. <br />
Actor behaviors: remind. employ. instruct. <br />
Object behaviors: yield to. toady to. obey. request something from. <br />
Actor labels: foe. <br />
Actor attributes: No words in range. <br />
Object labels: foe. scrooge. robber. <br />
Object attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],treat,Pete[_,boss]<br />
Deflection: 12.96. <br />
Actor emotions: scared. uneasy. nervous. worried. <br />
Actor behaviors: No words in range. <br />
Actor labels: visitor. nonsmoker. <br />
Actor attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],surprise,Pete[_,boss]<br />
Deflection: 13.14. <br />
Actor emotions: nervous. terrified. flustered. worried. <br />
Actor behaviors: No words in range. <br />
Actor labels: playmate. sports fan. <br />
Actor attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],hurt,Pete[_,boss]<br />
Deflection: 10.66. <br />
Actor emotions: humiliated. scared. <br />
Actor behaviors: No words in range. <br />
Actor labels: windbag. know-it-all. chatterbox. drunk. <br />
Actor attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],flunk,Micky[_,worker]<br />
Deflection: 12.41. <br />
Actor emotions: homesick. hurt. mortified. dissatisfied. <br />
Actor behaviors: No words in range. <br />
Actor labels: malcontent. malingerer. toady. half-wit. <br />
Actor attributes: unreliable. insincere. indecisive. narrowminded. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],snarl at,Micky[_,worker]<br />
Deflection: 9.43. <br />
Actor emotions: fed-up. hurt. humiliated. tormented. <br />
Actor behaviors: babble to. laud. <br />
Actor labels: boozer. mental case. goof-off. anti-Semite. <br />
Actor attributes: rude. vain. intolerant. evil. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],tackle,Micky[_,worker]<br />
Deflection: 9.84. <br />
Actor emotions: distressed. peeved. jealous. annoyed. <br />
Actor behaviors: laud. <br />
Actor labels: fanatic. hotshot. critic. opponent. <br />
Actor attributes: childish. cocky. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],congratulate,Micky[_,worker]<br />
Deflection: 14.02. <br />
Actor emotions: smug. indignant. apprehensive. shaken. <br />
Actor behaviors: laud. <br />
Actor labels: No words in range. <br />
Actor attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],praise,Micky[_,worker]<br />
Deflection: 13.71. <br />
Actor emotions: smug. apprehensive. indignant. peeved. <br />
Actor behaviors: laud. <br />
Actor labels: visitor. vacationer. nonsmoker. underdog. <br />
Actor attributes: polite. forgiving. considerate. imaginative. </p>

<p>Experiences of Micky Male. <br />
Minnie[_,traveler],flunk,Minnie[_,traveler]<br />
Deflection: 8.48. <br />
Actor emotions: dismayed. cheerless. glum. discontented. <br />
Actor behaviors: No words in range. <br />
Actor labels: malcontent. malingerer. toady. half-wit. <br />
Actor attributes: indecisive. insincere. unreliable. narrowminded. </p>

<p>Experiences of Micky Male. <br />
Minnie[_,traveler],tug,Minnie[_,traveler]<br />
Deflection: 3.06. <br />
Actor emotions: disapproving. lovesick. melancholy. discouraged. <br />
Actor behaviors: No words in range. <br />
Actor labels: stuffed shirt. toady. pedestrian. stranger. <br />
Actor attributes: stupid. petty. miserly. unadventurous. </p>

<p>Experiences of Micky Male. <br />
Minnie[_,traveler],grapple with,Minnie[_,traveler]<br />
Deflection: 4.55. <br />
Actor emotions: shaken. exasperated. envious. smug. <br />
Actor behaviors: laud. <br />
Actor labels: hotshot. chatterbox. windbag. fanatic. <br />
Actor attributes: childish. immature. reckless. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],sympathize with,Minnie[_,traveler]<br />
Deflection: 3.73. <br />
Actor emotions: self-conscious. no emotion. <br />
Object emotions: nostalgic. self-conscious. no emotion. contrite. <br />
Actor behaviors: chat with. dine with. make up with. <br />
Object behaviors: encourage. grin at. compensate. flatter. <br />
Actor labels: skilled worker. partner. negotiator. coach. <br />
Actor attributes: No words in range. <br />
Object labels: No words in range. <br />
Object attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],save,Minnie[_,traveler]<br />
Deflection: 4.83. <br />
Actor emotions: satisfied. merry. self-satisfied. charmed. <br />
Object emotions: apathetic. melancholy. remorseful. lovesick. <br />
Actor behaviors: No words in range. <br />
Object behaviors: praise. aid. raise the pay of. reason with. <br />
Actor labels: No words in range. <br />
Actor attributes: No words in range. <br />
Object labels: No words in range. <br />
Object attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Minnie[_,traveler],flirt with,Micky[_,worker]<br />
Deflection: 1.48. <br />
Actor emotions: sentimental. reverent. awe-struck. humble. <br />
Object emotions: reverent. awe-struck. sentimental. humble. <br />
Actor behaviors: caution. chat with. speak to. converse with. <br />
Object behaviors: chat with. chitchat with. answer. caution. <br />
Actor labels: partner. skilled worker. organizer. negotiator. <br />
Actor attributes: generous. competent. open-minded. friendly. <br />
Object labels: No words in range. <br />
Object attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Minnie[_,traveler],distract,Minnie[_,traveler]<br />
Deflection: 4.45. <br />
Actor emotions: disapproving. flustered. discouraged. nervous. <br />
Actor behaviors: No words in range. <br />
Actor labels: know-it-all. windbag. boozer. drunk. <br />
Actor attributes: vain. rude. conceited. intolerant. </p>

<p>Experiences of Micky Male. <br />
Minnie[_,traveler],surprise,Minnie[_,traveler]<br />
Deflection: 5.27. <br />
Actor emotions: self-conscious. no emotion. nostalgic. reverent. <br />
Actor behaviors: No words in range. <br />
Actor labels: playmate. hostess. sports fan. girl. <br />
Actor attributes: playful. horny. cheerful. </p>

<p>Experiences of Micky Male. <br />
Minnie[_,traveler],implore,Micky[_,worker]<br />
Deflection: 2.06. <br />
Actor emotions: nostalgic. self-conscious. no emotion. contrite. <br />
Object emotions: self-conscious. nostalgic. no emotion. repentant. <br />
Actor behaviors: encourage. grin at. dine with. compensate. <br />
Object behaviors: chat with. dine with. make up with. grin at. <br />
Actor labels: saleslady. salesclerk. waiter. co-worker. <br />
Actor attributes: feminine. dependent. raunchy. self-conscious. <br />
Object labels: strike breaker. bureaucrat. pornographer. spendthrift. <br />
Object attributes: contemptuous. dogmatic. suspicious. placid. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],help,Minnie[_,traveler]<br />
Deflection: 4.31. <br />
Actor emotions: self-satisfied. merry. charmed. satisfied. <br />
Object emotions: apathetic. melancholy. remorseful. lovesick. <br />
Actor behaviors: No words in range. <br />
Object behaviors: aid. praise. raise the pay of. inform. <br />
Actor labels: No words in range. <br />
Actor attributes: No words in range. <br />
Object labels: No words in range. <br />
Object attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],serenade,Minnie[_,traveler]<br />
Deflection: 3.50. <br />
Actor emotions: charmed. merry. overjoyed. moved. <br />
Object emotions: apathetic. melancholy. remorseful. sorry. <br />
Actor behaviors: No words in range. <br />
Object behaviors: praise. raise the pay of. back. make business proposal to. <br />
Actor labels: client. vacationer. workman. workmate. <br />
Actor attributes: dependable. bright. perceptive. cooperative. <br />
Object labels: No words in range. <br />
Object attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],entertain,Minnie[_,traveler]<br />
Deflection: 5.20. <br />
Actor emotions: satisfied. joyful. merry. pleased. <br />
Object emotions: apathetic. sorry. remorseful. melancholy. <br />
Actor behaviors: No words in range. <br />
Object behaviors: defend. praise. make business proposal to. hire. <br />
Actor labels: skilled worker. partner. teammate. coach. <br />
Actor attributes: competent. generous. <br />
Object labels: No words in range. <br />
Object attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Minnie[_,traveler],entertain,Micky[_,worker]<br />
Deflection: 2.06. <br />
Actor emotions: sentimental. reverent. <br />
Object emotions: reverent. touched. humble. sentimental. <br />
Actor behaviors: caution. collaborate with. speak to. agree with. <br />
Object behaviors: chitchat with. chat with. show something to. answer. <br />
Actor labels: opportunist. teammate. girl Friday. organizer. <br />
Actor attributes: generous. friendly. open-minded. brave. <br />
Object labels: No words in range. <br />
Object attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],entertain,Micky[_,worker]<br />
Deflection: 6.69. <br />
Actor emotions: reverent. self-conscious. awe-struck. sentimental. <br />
Actor behaviors: No words in range. <br />
Actor labels: playmate. <br />
Actor attributes: generous. </p>

<p>Experiences of Micky Male. <br />
Minnie[_,traveler],entertain,Minnie[_,traveler]<br />
Deflection: 6.29. <br />
Actor emotions: sentimental. self-conscious. reverent. awe-struck. <br />
Actor behaviors: No words in range. <br />
Actor labels: playmate. lady. girl. <br />
Actor attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],applaud,Micky[_,worker]<br />
Deflection: 5.71. <br />
Actor emotions: self-conscious. reverent. nostalgic. awe-struck. <br />
Actor behaviors: No words in range. <br />
Actor labels: playmate. visitor. <br />
Actor attributes: polite. generous. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],ignore,Pete[_,boss]<br />
Deflection: 10.60. <br />
Actor emotions: mournful. sorrowful. heavy-hearted. resentful. <br />
Object emotions: worried. jealous. nervous. flustered. <br />
Actor behaviors: chat with. chitchat with. speak to. grin at. <br />
Object behaviors: praise. aid. raise the pay of. reason with. <br />
Actor labels: No words in range. <br />
Actor attributes: No words in range. <br />
Object labels: No words in range. <br />
Object attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],yell at,Micky[_,worker]<br />
Deflection: 11.42. <br />
Actor emotions: overwhelmed. frightened. bitter. afraid. <br />
Object emotions: cheerless. resentful. dismayed. fearful. <br />
Actor behaviors: give a raise to. reason with. smile at. aid. <br />
Object behaviors: chat with. chitchat with. speak to. caution. <br />
Actor labels: gangster. foe. sexist. pornographer. <br />
Actor attributes: rude. inconsiderate. intolerant. vain. <br />
Object labels: gangster. sexist. <br />
Object attributes: self-centered. arrogant. sadistic. irritable. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],order,Micky[_,worker]<br />
Deflection: 9.73. <br />
Actor emotions: terrified. irked. worried. annoyed. <br />
Object emotions: cheerless. dismayed. glum. discontented. <br />
Actor behaviors: reason with. assist. explain something to. aid. <br />
Object behaviors: chat with. speak to. place order with. chitchat with. <br />
Actor labels: racketeer. pimp. gangster. mobster. <br />
Actor attributes: egotistical. compulsive. childish. quarrelsome. <br />
Object labels: pornographer. gigolo. malcontent. bureaucrat. <br />
Object attributes: self-centered. arrogant. sadistic. irritable. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],restrain,Micky[_,worker]<br />
Deflection: 8.71. <br />
Actor emotions: impatient. irked. annoyed. terrified. <br />
Object emotions: cheerless. dismayed. embarrassed. ill-at-ease. <br />
Actor behaviors: assist. reason with. accommodate. compensate. <br />
Object behaviors: chat with. speak to. grin at. place order with. <br />
Actor labels: racketeer. pimp. pornographer. superordinate. <br />
Actor attributes: raunchy. temperamental. compulsive. pompous. <br />
Object labels: pornographer. gigolo. bureaucrat. gangster. <br />
Object attributes: hostile. egotistical. bossy. scornful. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],submit to,Pete[_,boss]<br />
Deflection: 13.75. <br />
Actor emotions: lonely. sickened. sad. miserable. <br />
Object emotions: irked. aggravated. impatient. annoyed. <br />
Actor behaviors: challenge. compete with. surprise. sell something to. <br />
Object behaviors: make up with. wink at. reassure. console. <br />
Actor labels: No words in range. <br />
Actor attributes: No words in range. <br />
Object labels: gangster. <br />
Object attributes: abusive. conceited. </p>

<p>Experiences of Micky Male. <br />
Pete[_,boss],walk out on,Micky[_,worker]<br />
Deflection: 13.47. <br />
Actor emotions: irked. aggravated. terrified. agitated. <br />
Object emotions: sad. lonesome. lonely. sickened. <br />
Actor behaviors: make up with. wink at. console. listen to. <br />
Object behaviors: challenge. sell something to. compete with. surprise. <br />
Actor labels: pimp. racketeer. <br />
Actor attributes: No words in range. <br />
Object labels: foe. gangster. pornographer. malcontent. <br />
Object attributes: scornful. prejudiced. self-centered. cruel. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],torment,Micky[_,worker]<br />
Deflection: 13.02. <br />
Actor emotions: lonely. sickened. miserable. joyless. <br />
Actor behaviors: No words in range. <br />
Actor labels: mental case. boozer. malcontent. pest. <br />
Actor attributes: pessimistic. evil. thoughtless. vain. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],suck up to,Micky[_,worker]<br />
Deflection: 10.15. <br />
Actor emotions: sickened. lonely. miserable. joyless. <br />
Actor behaviors: No words in range. <br />
Actor labels: moron. freeloader. idiot. bootlicker. <br />
Actor attributes: unambitious. suicidal. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],work,Micky[_,worker]<br />
Deflection: 10.79. <br />
Actor emotions: dejected. gloomy. downhearted. deflated. <br />
Actor behaviors: No words in range. <br />
Actor labels: opponent. chum. windbag. stuffed shirt. <br />
Actor attributes: temperamental. raunchy. pompous. foolish. </p>

<p>Experiences of Micky Male. <br />
Parrot[_,loafer],smirk at,Micky[_,worker]<br />
Deflection: 12.67. <br />
Actor emotions: gleeful. compassionate. euphoric. overjoyed. <br />
Object emotions: sad. lonesome. blue. deflated. <br />
Actor behaviors: No words in range. <br />
Object behaviors: No words in range. <br />
Actor labels: racketeer. pimp. gangster. strike leader. <br />
Actor attributes: No words in range. <br />
Object labels: malingerer. toady. failure. spendthrift. <br />
Object attributes: narrowminded. cold. unreliable. gloomy. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],glower at,Parrot[_,loafer]<br />
Deflection: 12.56. <br />
Actor emotions: gloomy. blue. self-pitying. downhearted. <br />
Object emotions: jubilant. overjoyed. enthusiastic. gleeful. <br />
Actor behaviors: No words in range. <br />
Object behaviors: No words in range. <br />
Actor labels: clock watcher. <br />
Actor attributes: No words in range. <br />
Object labels: gangster. <br />
Object attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],sock,Parrot[_,loafer]<br />
Deflection: 11.55. <br />
Actor emotions: distressed. spiteful. peeved. uptight. <br />
Object emotions: gleeful. eager. compassionate. overjoyed. <br />
Actor behaviors: discipline. <br />
Object behaviors: mumble to. <br />
Actor labels: foe. malcontent. failure. malingerer. <br />
Actor attributes: insensitive. prejudiced. selfish. mean. <br />
Object labels: gangster. <br />
Object attributes: No words in range. </p>

<p>Experiences of Micky Male. <br />
Micky[_,worker],laugh at,Parrot[_,loafer]<br />
Deflection: 10.55. <br />
Actor emotions: smug. displeased. apprehensive. indignant. <br />
Object emotions: gleeful. cheerful. overjoyed. jubilant. <br />
Actor behaviors: discipline. employ. <br />
Object behaviors: mumble to. <br />
Actor labels: pornographer. bureaucrat. spendthrift. insider. <br />
Actor attributes: scornful. vengeful. stubborn. hostile. <br />
Object labels: mobster. <br />
Object attributes: No words in range. <br />
</p>
